
@font-face {
  font-family: 'MinionPro';
  src: url("../fonts/MinionPro-Regular.otf") format('truetype');
}

@font-face {
  font-family: 'Monplesir';
  src: url("../fonts/Monplesir_script.ttf") format('truetype');
}

@font-face {
  font-family: 'Astakhov';
  src: url("../fonts/Astakhov_First_Simple.ttf") format('truetype');
}
