*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bgcMain);
  font: var(--textSizeMain) / 1.2 var(--fontMain);
  color: var(--textColorMain);
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--maxWidth);
  padding: var(--spacing) var(--spacingDouble);
  gap: var(--spacingDouble);
}

section + section {
  margin-top: var(--spacingDouble);
}

a {
  color: var(--linkColor);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--textColorMain);
  }
}

a:hover img {
  /* links with mouseover-effect for inner images */
  filter: contrast(1.1) brightness(1.1);
}

img {
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
  margin: auto;
}

h1 {
  font: 1.6rem/2 var(--fontHeader1);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font: 2rem var(--fontHeader2);
  margin: var(--spacing) 0;
}

h3 {
  font: 1.2rem/2 Lato, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid;
  margin: 1em 0;
}

code {
  white-space: pre-line;
  font-size: smaller;
}

[hidden] {
  display: none;
}

svg {
  width: var(--svgWidth);
  height: var(--svgHeight);
  vertical-align: middle;
  color: inherit;

  path {
    fill: currentColor;
  }
}

.flex {
  display: flex;

  &.gaps {
    gap: var(--flex-spacing, var(--spacing));
  }

  &.column {
    flex-direction: column;
  }
}
