*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bgcMain);
  font-family: MinionPro, "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.2;
  color: var(--textColorMain);
}

main {
  margin: auto;
  max-width: var(--maxWidth);
  padding: var(--spacingDouble);
}

section + section {
  margin-top: var(--spacingDouble);
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover img {
  /* links with mouseover-effect for inner images */
  filter: contrast(1.1) brightness(1.1);
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  line-height: 2;
  font-weight: 500;
  font-family: Astakhov, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

h3 {
  font-family: Monplesir, fantasy;
  font-size: 150%;
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

textarea, input, button {
  font: inherit;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  line-height: 1;
  resize: vertical;
  width: 100%;
  max-width: 500px;
}

[hidden] {
  display: none;
}

button {
  background: dodgerblue;
  color: white;
  border: 2px solid transparent;
  transition: 250ms border, 150ms background;
  text-transform: uppercase;
}

button:disabled {
  background: gray;
  color: silver;
}

button:focus {
  border-color: inherit;
}

.flex {
  display: flex;

  &.gaps {
    gap: var(--flex-spacing, var(--spacing));
  }

  &.column {
    flex-direction: column;
  }
}
