/*========= CSS-variables (available in any other .css file) =========*/

:root {
  /* Fonts */
  --fontMain: MinionPro, serif;
  --fontHeader1: Astakhov, sans-serif;
  --fontHeader2: Monplesir, fantasy;

  /* Icons */
  --svgIconSize: 20px;

  /* Dimensions */
  --textSizeMain: 18px;
  --maxWidth: 1200px;
  --borderRadius: 5px;
  --spacing: 12px;
  --spacingHalf: calc(var(--spacing) / 2);
  --spacingDouble: calc(var(--spacing) * 2);
  --iconSize: 25px;

  /* Colors */
  --bgcMain: #E8CEBF;
  --textColorMain: #92657a;
  --linkColor: rgba(from var(--textColorMain) r g b / .75);
}