.carousel {
  border-radius: var(--borderRadius);
  overflow: hidden;

  > .carouselSlider {
    --animationDuration: calc(var(--animDurationSec, 7) * 1s);
    --intervalTime: calc(var(--slides) * var(--animationDuration));
    --slidesTotal: calc(var(--slides) + 1); /* extra +1 for smooth animation rotation */
    --gapSize: var(--spacingDouble);
    --gapSizeOffset: calc(var(--gapSize) * var(--slides));
    --animationStopAt: calc(var(--slides) * -100% - var(--gapSizeOffset));
    --animationDelay: calc(var(--animStartDelaySec, 1) * 1s);

    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--slidesTotal), minmax(100%, var(--maxWidth)));
    grid-auto-flow: column;
    gap: var(--gapSize);
    animation: carousel var(--intervalTime) infinite;
    animation-timing-function: linear;
    animation-delay: var(--animationDelay);
    /*animation-direction: reverse;*/

    .image {
      width: 100%;
    }

    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--animationStopAt));
  }
}