.header {
  position: relative;
}

.logo {
  height: 8vw;
  min-height: 120px;
  background: url("/header_new2.jpg") no-repeat center;
  filter: sepia(.1);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

@media screen and (max-width: 800px) {
  .logo {
    background-position-y: 30%;
  }
}
