/*========= top main .menu =========*/

.Menu {
  font: 95% Lato, sans-serif;
  position: relative;
  display: flex;
  gap: var(--spacing);
  padding: var(--spacing);
  justify-content: center;
  align-items: center;
  background-color: #00000011;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  z-index: 1;
}

.Menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transition: 250ms color;

  &:hover:not(.active) {
    color: var(--linkColor);
  }
}

.Menu .active {
  color: dodgerblue;
  pointer-events: none;
  border-bottom: 2px solid;
}

.SubMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  .link {
    margin-bottom: 2px;

    &::before {
      content: "▼ ";
      font-size: .75rem;
    }
  }
}

.SubMenu:hover > .items {
  visibility: visible;
  opacity: 1;
}

.SubMenu .items {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacingHalf);
  background: #0c1239;
  padding: var(--spacing);
  border-radius: var(--borderRadius);
  border: 1px solid rgba(255, 255, 255, .2);
  visibility: hidden;
  opacity: 0;
  transition: 250ms opacity;
}

.SubMenu .items a {
  display: block;
}

.Icon {
  margin-right: 3px;
}