/* FIXME: move to corresponding /[page].module.css */

/*========= common =========*/
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images > * {
  margin: 10px;
  flex: 1 1 200px;
}

.images.small > * {
  flex-basis: 150px;
}

.images.big > * {
  flex-basis: 250px;
}

/*========= commissions =========*/
.commissions .portraits {
  align-items: center;
}

.commissions .wedding {
  width: 50%;
  margin: auto;
}