@import "carousel.css";

/*========= common =========*/
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images > * {
  margin: 10px;
  flex: 1 1 200px;
}

.images.small > * {
  flex-basis: 150px;
}

.images.big > * {
  flex-basis: 250px;
}

/*========= home =========*/
.home .welcome {
  text-align: center;
  margin-bottom: 40px;
}

.home .join-me {
  padding: 20px 0;
}

/*========= about =========*/
.about {
  max-width: 700px;
  margin: auto;
  text-align: justify;
}

/*========= contacts =========*/
.contacts .email:before {
  content: attr(data-email);
}

/*========= commissions =========*/
.commissions .portraits {
  align-items: center;
}

.commissions .wedding {
  width: 50%;
  margin: auto;
}